.home-container {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 1fr;
  grid-template-areas: 
  "dev foto"
  "descricao foto"
  "botao foto";
  margin: 7rem 8rem;
  align-items: center;
  justify-content: center;
  gap: 0 4rem;
}

.dev {
  grid-area: dev;
  position: relative;
  font-size: 3.5rem;
}

.dev::before {
  content: '';
  display: flex;
  background: url('../svg/detalhe.svg') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; 
  top: 0;
  left: -1.562rem;
}

.svg-container {
  grid-area: foto;
  width: 18rem;
  margin: 0 auto;
}

.svg-container svg{
  max-width: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .20));
  transition: .3;
  animation: animeSvg 2s forwards;
  stroke-dasharray: 1380;
}

.svg-container svg.animar {
  animation: animeSvg 2s forwards;
}

@keyframes animeSvg {
  0% {
    stroke-dashoffset: 1380;
  }

  70% {
    stroke-dashoffset: 338;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.descricao {
  color: #DCDCDC;
  max-width: 42ch;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.125rem 0;
  line-height: 1.75rem;
  grid-area: descricao;
}

.descricao::after {
  content: '|';   
  opacity: 0;
  margin-left: 5px;
  animation: efeitoEscrever .7s infinite alternate-reverse;
}

@keyframes efeitoEscrever {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.botao {
  display: block;
  background-color: #5C49C7;
  color: #E5E5E5;
  text-decoration: none;
  text-align: center;
  width: 7.5rem;
  padding: 0.625rem 1.875rem;
  border-radius: 6px;
  font-weight: 400;
  margin-top: 6px;
  transition: .1s ease-out;
  grid-area: botao;
}

.botao:hover, .botao:active {
  background-color: #4A37B9;
  color: #F4F4F4;
  border-radius: 3px;
  width: 8.75rem;
}


@media(max-width: 1180px) {
  .home-container {
    grid-template-areas: 
    "dev foto"
    "descricao foto"
    "botao foto";
    margin: 6rem 4rem 4rem 4rem;
    gap: 0 1rem;
  }

  .dev {
    font-size: 3rem;
  }

  .descricao {
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.55rem;
  }
}

@media(max-width: 940px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "dev"
    "descricao"
    "botao"
    "foto";
    margin: 5rem 4rem 4rem 4rem;
  }

  .dev {
    font-size: 3rem;
    line-height: 1.2;
  }

  .descricao {
    max-width: 70ch;
    margin: 0.8rem 0;
  }

  .svg-container svg {
    display: none;
  }
}

@media(max-width: 550px) {
  .home-container {
    margin: 3rem 2rem 1rem 2rem;
  }

  .dev {
    font-size: 2.45rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .dev::before {
    left: -1rem;
    width: 149px;
    height: 95px;
  }

  .descricao {
    max-width: 48ch;
    margin: 1.1rem 0;
    padding-right: 9px;
  }

  .svg-container {
    margin-top: 64px;
    max-width: 13rem;
  }
}

@media(max-width: 380px) { 
  .home-container {
    margin: 3rem 2rem 0.5rem 2rem;
  }
  
  .dev {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .descricao {
    max-width: 40ch;
    font-size: 0.8rem;
    margin: 1rem 0;
    line-height: 1.3rem;
    padding-right: 0px;
  }

  .dev::before {
    width: 150px;
    height: 120px; 
    left: -1rem;
  }
}
