.experiencia-container {
  background-color: #292929;
  max-width: 100vw;
  padding: 4rem 8rem 5.75rem 8rem;
  overflow: hidden;
  position: relative;
}


/* Slider */

.slider {
  margin: 0 auto;
  max-width: 715px;
  height: 600px;
  overflow: hidden;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1 0 auto;
  margin: 0;
  width: 315%;
  height: 600px;
  position: relative;
}

.nav-slide {
  position: absolute;
  display: flex;
  width: 740px;
  justify-content: center;
  margin: -16px auto 0 auto;
  gap: 0 20px;
}

.nav-slide .label {
  width: 5px;
  height: 5px;
  border: 2px solid #1F1F1F;
  background-color: #292929;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
  transition: .3s;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -66.7%;
}

#radio3:checked ~ .first {
  margin-left: -133.3%;
}

.nav-slide .label:hover, .nav-slide .label:focus {
  background-color: #7562E0;
}

.container-projeto {
  padding-bottom: 82px;
  box-sizing: border-box;
  max-width: 750px;
  flex: 2 0 auto;
  word-break: normal;
  display: block;
  transition: .6s ease-in-out;
}

.container-projeto img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 3px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .15));
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
  margin-bottom: 12px; 
  border: 1px solid #1F1F1F;
  position: relative;
  cursor: pointer;
}

.projeto-titulo {
  color: #F9F9F9;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  box-sizing: border-box;
  padding-left: 2.25rem;
  margin-bottom: 12px;
  text-shadow: 3px 3px rgba(0, 0, 0, .15);
}

.projeto-titulo::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 7px;
  border-radius: 2px;
  background-color: #7562E0;
  position: absolute;
  top: 1.25rem;
  left: 0px;
}

input[type=radio] {
  display: none;
}

.left-button, .right-button {
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
  background-color: transparent;
  height: 36px;
  width: 36px;
  position: absolute;
  z-index: 5;
  top: 50%;
  cursor: pointer;
}

.left-button {
  left: 16rem;
}

.right-button {
  right: 16rem;
}

.left-button svg, .right-button svg {
  fill: #7562E0;
  transition: .3s ease-in-out;
}

.left-button svg:hover, .right-button svg:hover, .left-button svg:focus, .right-button svg:focus {
  fill: #4A37B9;
}

@media(max-width: 1330px) { 
  .left-button, .right-button {
    top: 85%;
  }

  .left-button {
    left: 3rem;
  }
  
  .right-button {
    right: 3rem;
  }
}

@media(max-width: 1180px) {
  .experiencia-container {
    padding: 4rem 4rem 5.75rem 4rem;    
  }
}

@media(max-width: 920px) {
  .left-button {
    left: 1rem;
  }
  
  .right-button {
    right: 1rem;
  }
}

@media(max-width: 850px) {
  .slider {
    margin: 0 auto;
    max-width: 80vw;
    max-height: 500px;
  }
  
  .container-projeto {
    max-width: 80vw;
    flex: 1 0 auto;
  }

  .left-button, .right-button {
    top: 75%;
  }

  .slides {
    max-width: max-content;
    max-height: 500px;
  }
  
  .experiencia-container > .titulo {
    font-size: 2.8rem;
  }

  .experiencia-container > .paragrafo {
    max-width: 60ch; 
  }

  .container-projeto > .paragrafo {
    max-width: 55ch;
    padding-right: 12px;
    font-size: 0.85rem;
  }
  
  .nav-slide {
    margin: -2rem auto;
    max-width: 80vw;
  }
  
  #radio2:checked ~ .first {
    margin-left: -66.8%;
  }
  
  #radio3:checked ~ .first {
    margin-left: -133.3%;
  }
}

@media(max-width: 610px) {
  .nav-slide {
    margin: -0.5rem auto;
  }

  .experiencia-container > .titulo {
    font-size: 2.5rem;
  }

  .container-projeto > .paragrafo {
    max-width: 50ch;
    padding-right: 16px;
  }
}

@media(max-width: 540px) {
  .experiencia-container {
    padding: 4rem 2rem 4rem 3rem;
  }

  .experiencia-container > .titulo {
    font-size: 1.8rem;
  }

  .experiencia-container > .paragrafo{
    font-size: 0.87rem;
  }

  .slider {
    max-height: 420px;
  }

  .slides {
    margin: -16px 0 0 0;
    max-height: 420px;
  }

  .nav-slide {
    margin: -2rem auto;
  }

  .container-projeto {
    flex: 1 1 auto;
  }

  .container-projeto > .paragrafo {
    font-size: 0.67rem;
    padding-left: 3px;
  }

  .container-projeto > .projeto-titulo {
    font-size: 1.9rem;
  }
  
  #radio3:checked ~ .first {
    margin-left: -133.6%;
  }

  .left-button, .right-button {
    top: 78%;
  }
}

@media(max-width: 320px) {  
  #radio2:checked ~ .first {
    margin-left: -66.4%;
  }
  
  #radio3:checked ~ .first {
    margin-left: -135%;
  } 
}
