.footer-container {
  display: grid;
  grid-template-columns: minmax(18.75rem, 1fr) 1fr;
  grid-template-areas: 
  "contato contato"
  "disponivel info"
  "nome nome";
  padding: 7.18rem 8rem 3rem 7.18rem;
  align-items: center;
  justify-content: center;
  gap: 0 14.25rem;
  background-color: #292929;
  position: relative;
}

.contato {
  grid-area: contato;
}

.disponivel {
  grid-area: disponivel;
  margin: 2rem 0 4rem 0;
  width: 50ch;
}

.contato-info {
  grid-area: info;
  margin-top: 5px;
}

.nome {
  grid-area: nome;
  color: #E5E5E5;
  font-size: 1.3rem;
}

.contato-info ul {
  list-style: none;
}

.font-contato {
  color: #F5F5F5;
  font-size: 1.3rem;
  font-weight: 400;
}

.contatos li {
  margin-bottom: 1rem;
}

.rede-social {
  display: flex;
  gap: 0 1rem;
}


.footer-container::after {
  content: '';
  display: inline-block;
  width: 90%;
  height: 90%;
  background: url('../svg/detalhe.svg') no-repeat;
  position: absolute;
  left: 8rem;
  top: -3.125rem;
}