.footer-container {
  padding: 4rem 8rem 4rem 8rem;
  position: relative;
  background-color: #292929;
}

.informacoesFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0 6rem;
  z-index: 333;
}


.nome {
  order: 2;
  color: #d4d4d4;
  font-size: 1.3rem;
  margin-top: -12px;
}

.footer-container > .paragrafo {
  margin-bottom: 5rem;
}

.mensagem, .contatos {
  max-width: 42ch;
  color: #d4d4d4;
  font-size: 1.3rem;
  font-weight: 400;
}

.contatos li {
  margin-bottom: 1rem;
  border-bottom: 2px solid #242424;
  padding-bottom: 16px;
}

.rede-social {
  display: flex;
  gap: 0 1rem;
}


.footer-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('../svg/detalhe.svg') no-repeat;
  position: absolute;
  left: 8rem;
  top: -3.125rem;
  pointer-events: none; /*Necessário para clicks funcionarem em footer*/
}