.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 0 0 8rem;
}

.logo-container img {
  width: 6.25rem;
}

.nav {
  display: flex;
  list-style: none;
  gap: 2.25rem;
}

.nav li a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  color: #F9F9F9;
  transition: 0.1s ease-out;
}

.nav li:last-child {
  padding-right: 8rem;
}

.nav li a:hover {
  color: #DADADA;
}