.home-container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 1fr;
  grid-template-areas: 
  "dev foto"
  "descricao foto"
  "botao foto";
  margin: 128px;
  align-items: center;
  gap: 0 64px;
}

.dev {
  grid-area: dev;
}

.foto-container {
  grid-area: foto;
  box-shadow: 1px 1px 10px #4A37B9;
  border-radius: 30px;
  /* margin-top: -36px;*/
  width: 500px;
}

.foto-container img {
  width: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .20));
}

.detalhe {
  display: inline-block;
  background: url('../svg/detalhe.svg') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; 
  top: 0;
  left: -25px;
}

.descricao {
  color: #DCDCDC;
  max-width: 42ch;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 18px 0;
  line-height: 28px;
  grid-area: descricao;
}

.botao {
  display: block;
  background-color: #5C49C7;
  color: #E5E5E5;
  text-decoration: none;
  text-align: center;
  width: 120px;
  padding: 10px 30px;
  border-radius: 6px;
  font-weight: 400;
  margin-top: 6px;
  transition: .1s ease-out;
  grid-area: botao;
}

.botao:hover {
  background-color: #4A37B9;
  color: #F4F4F4;
  border-radius: 3px;
  width: 140px;
}
