.home-container {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 1fr;
  grid-template-areas: 
  "dev foto"
  "descricao foto"
  "botao foto";
  margin: 8rem;
  align-items: center;
  justify-content: center;
  gap: 0 4rem;
}

.dev {
  grid-area: dev;
}

.foto-container {
  grid-area: foto;
  /* margin-top: -36px;*/
  width: 28rem;
  border-radius: 50%;
}

.foto-container img {
  max-width: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .20));
}

.detalhe {
  display: inline-block;
  background: url('../svg/detalhe.svg') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; 
  top: 0;
  left: -1.562rem;
}

.descricao {
  color: #DCDCDC;
  max-width: 42ch;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.125rem 0;
  line-height: 1.75rem;
  grid-area: descricao;
}

.botao {
  display: block;
  background-color: #5C49C7;
  color: #E5E5E5;
  text-decoration: none;
  text-align: center;
  width: 7.5rem;
  padding: 0.625rem 1.875rem;
  border-radius: 6px;
  font-weight: 400;
  margin-top: 6px;
  transition: .1s ease-out;
  grid-area: botao;
}

.botao:hover, .botao:active {
  background-color: #4A37B9;
  color: #F4F4F4;
  border-radius: 3px;
  width: 8.75rem;
}


@media(max-width: 1180px) {

  .home-container {
    grid-template-columns: minmax(5rem, 1fr) 1fr;
    grid-template-areas: 
    "dev foto"
    "descricao foto"
    "botao foto";
    margin: 6rem 4rem 4rem 4rem;
    align-items: center;
    gap: 0 1rem;
  }


  .dev {
    font-size: 3rem;
  }

  .descricao {
    max-width: 42ch;
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.55rem;
  }

  .foto-container {
    /* margin-top: -36px;*/
    width: 27rem;
  }

}

@media(max-width: 940px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "dev"
    "descricao"
    "botao"
    "foto";
    margin: 5rem 4rem 4rem 4rem;
    align-items: center;
    gap: 0 1rem;
  }


  .dev {
    font-size: 3rem;
  }

  .descricao {
    max-width: 70ch;
    font-size: 1rem;
    margin: 0.8rem auto;
    line-height: 1.55rem;
  }


  .foto-container {
    margin-top: 36px;
    width: 250px;
  }

  .foto-container img {
    border-radius: 100%;
    border: 1px solid #F4F4F4;
  }
}

@media(max-width: 550px) {

  .dev {
    font-size: 2.45rem;
    line-height: 1.2;
  }

  .descricao {
    max-width: 48ch;
    font-size: 1rem;
    margin: 1.1rem 0;
    line-height: 1.55rem;
  }
}

@media(max-width: 380px) {

  .home-container {
    margin: 4rem 3rem 3rem 3rem;
  }

  .dev {
    font-size: 2rem;
    line-height: 1.2;
  }

  .descricao {
    /* max-width: 20ch; */
    font-size: 0.9rem;
    margin: 1.1rem 0;
    line-height: 1.4rem;
  }

  .detalhe {
    display: inline-block;
    background: url('../svg/detalhe.svg') no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -1; 
    top: 0;
    left: -1.562rem;
  }
}

/* Problema: svg cortando pela metade, corrigir. */